@import '../main.scss';

.container-img{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-img img{
    object-fit: contain;
    animation: animateWidth 5s infinite linear;
    margin-right: 50px;
    width: 60%;
}

form{
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
}

.container-error{
    height: 5vh;
    width: 100vw;
    background: $primary-color;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;

    display: none;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;

}







@keyframes animateWidth {
    0% { width: 55%; }
    50% { width: 60%; }
    100% { width: 55%; }
}





@media(orientation: landscape){
    .container-img{
        display: flex;
        width: 50vw;
    }
    
    form{
        width: 50vw;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        margin-left: 50px;
    }
}

@media(orientation: portrait), (max-width: 1000px) {
    .container-img {
        display: none;
    }

    form{
        margin: 0px;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .container-error{
        top: initial;
        bottom: 0px;
    }
}

@media(max-width: 750px) and (orientation: portrait) {
    form{
        align-items: center;
        justify-content: flex-start;
    }
}

// Global Size
@media(max-width: 1050px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 1050px) and (min-height:1000px){
    html{
        font-size: 75%;
    }
}

@media(max-width: 750px){
    html{
        font-size: 40%;
    }
}

@media(max-width: 350px){
    html{
        font-size: 30%;
    }
}

@media(max-width: 250px){
    html{
        font-size: 18%;
    }
}

@media(max-height: 540px){
    html{
        font-size: 40%;
    }
}

@media(max-height: 400px){
    html{
        font-size: 35%;
    }
}






