@import '../index.scss';
@import './step-01.scss';
@import './step-02.scss';
@import './step-03.scss';


[hidden] {
    display: none !important;
}

main{
    display: flex;
}

header{
    margin-top: 10rem;
}

h1{
    font-family: "Poppins", serif;
    font-size: 6rem;
    white-space: nowrap
}

span{
    font-size: 1.7rem;
    font-weight: 600;
}

span a{
    color: $primary-color;
}



input{
    height: 5rem;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 2.5rem;
    border: 0.1rem solid #ccc;
    outline: none;
    text-indent: 1rem;
}



    

.step-01 input:focus ~ label,
.step-01 input:valid ~ label,
.step-02 input:focus ~ label,
.step-02 input:valid ~ label
{
    top: -1.3rem;
    left: 1.5rem;
    transition: ease-in-out;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}


.step-01 div,
.step-02 div
{
    position: relative;    
}

label
{
    cursor: pointer;
    color: #ccc;
    font-weight: 400;
    background: #fff;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    font-size: 1.7rem;
    transition: all 0.3s ease-in-out;
}

.button-next{
    cursor: pointer;
    height: 5rem;
    background: $primary-color;
    color: #fff;
    font-size: 2rem;
    border: 0px;
    border-radius: 2rem;
}

.button-next:hover{
    background: $primary-strong;
}

.container-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45em;
}


.i-false{
    border: 0.1rem solid $primary-color;
}

.l-false{
    color: $primary-color;
}















